<mat-card>
  <mat-card-title>
    New Submission
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="submissionForm" (ngSubmit)="onSubmit()">
      <table>
        <tr>
          <td>
            <mat-form-field class="full-width">
              <input formControlName="title" matInput placeholder="Title" autocomplete="off" />
            </mat-form-field>
          </td>
          <td colspan="2">
            <mat-form-field class="full-width">
              <input formControlName="difficulty" matInput placeholder="Difficulty 1-5(hard)" autocomplete="off" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="full-width">
              <input formControlName="description" matInput placeholder="Description" autocomplete="off" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <mat-form-field class="full-width">
              <input formControlName="process" matInput placeholder="Procedure" autocomplete="off" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="full-width">
              <input formControlName="links" matInput placeholder="Links" autocomplete="off" />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="full-width" style="padding-inline-start: 10px;">
            <button (click)="onSubmit()" style="text-align: center;">Submit</button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
