<h1>About</h1>

<p style="font-size: 14pt;">
  CSearch is a search engine for tech projects that involve programming. It provides a ranked difficulty of the project,
  description, procedure for executing, and helpful links to learn more. These projects come directly from University
  labs and projects, as well as, online projects to improve your skills.
</p>

<p style="font-size: 14pt;">
  All details provided for each product are there to help you determine the right project and learn more about future
  projects.
</p>

<p style="font-size: 14pt;">
  If you think a search is missing a cool project or you want to share your work, please submit a new resources at the
  <a [routerLink]="['/new-submission']">New Submissions</a> page.
</p>
